/* App.css or global CSS */
.page {
  display: none; /* Initially hide all pages */
}

.page.visible {
  display: block; /* Only show the component when it's ready */
}

.page.hidden {
  display: none;
}
